* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.l-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.l-banner {
  flex: 0 0 100%;
}

.l-sidebar {
  flex: 20%;
}

.l-content {
  flex: 80%;
}
