table,
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Oxygen, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

table a,
.table a {
  color: #0072c5;
  text-decoration: none;
}

tbody,
.tbody {
  vertical-align: middle;
  border-color: inherit;
}

th,
.th {
  box-shadow: inset 0 -2px 0 0 #d7d7df;
  vertical-align: inherit;
  border-color: inherit;
  text-align: left;
  padding: 8px 16px;
}

th a[title^="sort"]:before {
  display: inline-block;
  height: 12px;
  width: 12px;
  content: '';
  background-image: url('/themes/contrib/lark/images/icon-sort.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 3px;
}

th:hover,
th:focus {
  box-shadow: inset 0 -4px 0 0 #0072c5;
  color: #0072c5;
}

th:hover a,
th:focus a {
  color: #0072c5;
}

th .tablesort {
  display: none;
}

tr,
.tr {

}

tr:hover,
.tr:hover {
  background-color: rgba(0, 114, 197, 0.15);
}

td,
.td {
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 12px;
}

td a,
.td a {
  color: #0072c5;
}

td a:hover,
td a:focus,
.td a:hover,
.td a:focus {
  text-decoration: underline;
}

td.views-field-title,
.td.views-field-title {
  font-weight: 700;
}
