label,
.label {
  @extend %small;
  @include font(sans, bold);

  &.form-required {

    &:after {
      color: $red;
      content: ' *';
    }

  }

}

%text-input {
  display: block;
  margin-bottom: $spacing-small;
  border-width: 1px;
  border-style: solid;
  border-color: $borders;
  background-color: $white;
  cursor: auto;
  padding: $spacing-large 10px;
  width: 100%;
  line-height: 1rem;
  color: $dark-gray;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-style: solid;
    border-color: $primary;
    box-shadow: 0 0 0 2px $primary;
  }

  &::placeholder {
    color: $gray;
  }

}

// The class is a core drupal class, have linter igonre it until we modify
// templates to correct it.
//
// sass-lint:disable class-name-format
.form_textfield,
textarea,
.form-textarea {
  @extend %text-input;
}
// sass-lint:enable class-name-format

input {

  &[type='text'] {
    @extend %text-input;
  }

}

