* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.l-sidebar {
  position: relative;
  width: 300px;
}

.l-content {
  flex: 1;
}

.l-banner {
  position: sticky;
  top: 0;
  background-color: $white;
}

// grid
// @TODO: Actually define and utilize the grid system presented in webflow.
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--full {
  display: flex;
  position: relative;
  align-items: stretch;
  padding: 1em;
}

.col {
  padding: 1em;
}

.col-2 {
  width: 16.666666666666668%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}
