* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.l-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.l-banner {
  flex: 0 0 100%;
}

.l-sidebar {
  width: 300px;

}

.l-content {
  flex: 80%;
}

// grid
// @TODO: Actually define and utilize the grid system presented in webflow.
.grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 1em;
}

.col-2 {
  width: 16.666666666666668%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}
