hr,
.hr {
  display: block;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
  outline: none;
  border: 0;
  background-color: $light-gray;
  height: 1px;
}

details,
summary {
  margin-bottom: $spacing-large;
}
