@import '../core/variables';

table,
.table {
  width: 100%;
  border-collapse: collapse;
  line-height: 20px;
  font-size: 16px;
}

table,
.table {

  a {
    text-decoration: none;
  }

}

tbody,
.tbody {
  border-color: inherit;
  vertical-align: middle;
}

th,
.th {
  border-color: inherit;
  box-shadow: inset 0 -2px 0 0 $light-gray;
  padding: $spacing-small $spacing-large;
  vertical-align: inherit;
  text-align: left;

  &:hover,
  &:focus {
    box-shadow: inset 0 -4px 0 0 $primary;
    color: $primary;

    a {
      color: $primary;
    }

  }

  &.tablesort {
    display: none;
  }

  a {

    &[title^='sort'] {

      &:before {
        display: inline-block;
        margin-right: 3px;
        background-image: url('/themes/contrib/lark/images/icon-sort.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 12px;
        content: '';
      }

    }

  }

}

tr,
.tr {
  border-bottom: 0.0625rem solid $light-gray;

  &:hover {
    background-color: rgba($primary, 0.15);
  }

}

td,
.td {
  display: table-cell;
  padding: $spacing-large;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: inherit;

  a {

    &:hover,
    &:focus {
      text-decoration: underline;
    }

  }

  &.views-field-title {
    font-weight: 700;
  }

}

