* {
  @include font(sans);
}

h1,
.h1 {
  line-height: 1.3rem;
  font-size: 2.281rem;
}

h2,
.h2 {
  line-height: 1.3rem;
  font-size: 1.802rem;
}

h3,
.h3 {
  line-height: 1.3rem;
  font-size: 1.602rem;
}

h4,
.h4 {
  line-height: 1.3rem;
  font-size: 1.424rem;
}

h5,
.h5 {
  line-height: 1.3rem;
  font-size: 1.266rem;
}

h6,
.h6 {
  line-height: 1.3rem;
  font-size: 1.125rem;
}

p {
  line-height: 1.5rem;
  font-size: 16px;
}

%small,
.small {
  line-height: 1.5rem;
  font-size: 0.889rem;
}

%xsmall,
.xsmall {
  line-height: 1.5rem;
  font-size: 0.79rem;
}

%annotation,
.annotation,
.description {
  line-height: 1.5rem;
  font-size: 0.702rem;
}

/* Colors */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $headers;
}

p {
  color: $text;
}

a {
  color: $primary;
}
