.breadcrumbs {
  background-color: transparent;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__item {

  &:after {
    margin-right: $spacing-small;
    margin-left: $spacing-small;
    content: '/';
  }

  &:last-child {

    &:after {
      margin: 0;
      content: '';
    }

  }

}

.breadcrumbs__item-link {
  text-decoration: none;
  color: $gray;
  font-size: 0.889em;

  &:hover {
    text-decoration: underline;
    color: $dark-gray;
  }

}
