%button,
.button {
  @include font(sans, bold);
  border: 0;
  box-shadow: none;
  background-color: $primary;
  padding: $spacing-large ($spacing-medium * 2);
  min-height: 48px;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  color: $white;

  &:hover,
  &:focus {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21));
  }

}

%button--secondary,
.button--secondary {
  @extend %button;
  background-color: $light-gray;
  color: $dark-gray;

  &:hover {
    background-image: linear-gradient(180deg, rgba(142, 146, 156, 0.27), rgba(142, 146, 156, 0.27));
  }

}

// Drupal extensions.
// We'll use these until we update the templates to use better classes.
.button {

  &.form-submit {
    @extend %button--secondary;
  }

}

