%button,
.button {
  @include font(sans, bold);
  display: inline-block;
  border: 0;
  box-shadow: none;
  background-color: $primary;
  cursor: pointer;
  padding: $spacing-large ($spacing-medium * 2);
  min-height: 48px;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  color: $white;

  &:hover,
  &:focus {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.21));
    text-decoration: none;
  }

}

%button--secondary,
.button--secondary {
  @extend %button;
  background-color: $light-gray;
  color: $dark-gray;

  &:hover {
    background-image: linear-gradient(180deg, rgba(142, 146, 156, 0.27), rgba(142, 146, 156, 0.27));
  }

}

.button--sidebar {
  display: block;
  margin-bottom: $spacing-medium;
  width: 100%;
}

// Drupal extensions.
// We'll use these until we update the templates to use better classes.
.button {

  &.form-submit {
    @extend %button--secondary;
  }

}

.button--small {
  margin: 0.75rem 0.5rem 0.75rem 0;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  min-height: auto;
  font-size: 1rem;
  font-weight: normal;
}
