%exposed-form,
.exposed-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $spacing-medium * 2;
  border-radius: 8px;
  box-shadow: 0 0 11px 0 rgba(10, 10, 14, 0.2);
  background-color: $white;
  padding: $spacing-large;
}

%exposed-form-item {
  flex: auto;
}

// Extensions
.views-exposed-form {
  @extend %exposed-form;

  .form-item {
    @extend %exposed-form-item;
  }

}
