.message,
.messages {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 4px;
  padding: 1rem;

  &--error {
    border: 1px solid $message-error-border;
    background-color: $message-error-bg;
    color: $message-error-color;

    li,
    p {
      color: $message-error-color;
    }

    a {
      text-decoration: underline;

      &:link,
      &:visited {
        color: $message-error-color;
      } 
    }
  }

  &--status {
    border: 1px solid $message-status-border;
    background-color: $message-status-bg;
    color: $message-status-color;
  }

  &--warning {
    border: 1px solid $message-warning-border;
    background-color: $message-warning-bg;
    color: $message-warning-color;
  }
}

.message__icon {
  &:before {
    margin-right: 10px;
  }

  &--error {
    &:before {
      content: fa-content($fa-var-exclamation-triangle);
    }
  }

  &--status {
    &:before {
      content: fa-content($fa-var-check);
    }
  }

  &--warning {
    &:before {
      content: fa-content($fa-var-exclamation-circle);
    }
  }
}

.message__content-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message__content-item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
