.sidebar-menu__title {
  @include font(sans, bold);
  margin-bottom: $spacing-medium;
  margin-left: $spacing-medium;
}

.sidebar-menu__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu__parent-list {
  margin: 0;
  padding: 0;
}

.sidebar-menu__item-link,
.sidebar-menu__moreless {
  display: block;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  white-space: normal;
  color: $gray;

  &:hover,
  &:focus {
    background-color: rgba($gray, 0.12);
  }

  &--active {
    @include font(sans, bold);
    background-color: rgba($primary, 0.12);
    color: $primary;
  }

  &:before {
    @include font(icon);
    margin-right: $spacing-medium;
  }

  &[href^='/admin/content'] {
    &:before {
      content: '\f15b';
    }
  }

  &[href^='/admin/people'] {
    &:before {
      content: '\f007';
    }
  }

  &[href^='/admin/structure'] {
    &:before {
      @include font(icon, solid);
      content: '\f0e8';
    }
  }

  &[href^='/admin/help'] {
    &:before {
      content: '\f059';
    }
  }

  &[href^='/admin/reports'] {
    &:before {
      @include font(icon, solid);
      content: '\f200';
    }
  }

  &[href^='/admin/config'] {
    &:before {
      @include font(icon, solid);
      content: '\f013';
    }
  }

  &[href^='/admin/modules'] {
    &:before {
      @include font(icon, solid);
      content: '\f1e6';
    }
  }

  &[href^='/admin/appearance'] {
    &:before {
      @include font(icon, solid);
      content: '\f1fc';
    }
  }

}

.sidebar-menu__moreless {
  &:before {
    @include font(icon, solid);
    content: '\f078';
  }

  &--active {
    &:before {
      content: '\f077';
    }
  }
}

.sidebar-menu__sub-list {
  display: none;
  margin: 0;
  padding: 0;

  &--open {
    display: block;
  }

}

