.site-branding {
  align-items: center;
  max-width: 300px;
}

.site-branding__home-link {
  display: inline-block;

  img {
    margin-top: 10px;
    padding: 10px 20px 5px 5px;
    max-width: 100%;
  }
}
