.site-banner {
  display: flex;
  position: relative;
  z-index: 500;
  border-bottom: 1px solid $light-gray;
  background-color: $white;
  padding: $spacing-medium 2em;
  height: 82px;
}

.site-banner__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
