.collapse-processed {
  >summary {
    padding-right: 0.5em;
    padding-left: 0.5em;

    &:before {
      float: left;
      background: url('../../images/icons/menu-expanded.png') 0 100% no-repeat;
      width: 1em;
      height: 1em;
      content: '';
    }
  }

  &:not([open]) {
    >summary {
      &:before {
        transform: rotate(-90deg);
        background-position: 25% 35%;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
      }
    }
  }
}

[dir='rtl'] {
  .collapse-processed {
    >summary {
      &:before {
        float: right;
        background-position: 100% 100%;
      }
    }

    &:not([open]) {
      >summary {
        &:before {
          transform: rotate(90deg);
          background-position: 75% 35%;
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
      }
    }
  }
}
