.exposed-filters {
  .filters {
    float: left;
    margin-right: 1em;
  }

  .form-item {
    margin: 0 0 0.1em;
    padding: 0;

    label {
      float: left;
      width: 10em;
      font-weight: normal;
    }
  }

  .form-select {
    width: 14em;
  }

  .current-filters {
    margin-bottom: 1em;

    .placeholder {
      font-weight: bold;
      font-style: normal;
    }
  }

  .additional-filters {
    float: left;
    margin-right: 1em;
  }
}

[dir='rtl'] {
  .exposed-filters {
    .filters {
      float: right;
      margin-right: 0;
      margin-left: 1em;
    }

    .form-item {
      label {
        float: right;
      }
    }

    .additional-filters {
      float: right;
      margin-right: 0;
      margin-left: 1em;
    }
  }
}
