form {
  .field-multiple-table {
    margin: 0;

    .field-multiple-drag {
      padding-right: 0;
      width: 30px;

      .tabledrag-handle {
        padding-right: 0.5em;
      }
    }
  }

  .field-add-more-submit {
    margin: 0.5em 0 0;
  }
}

[dir='rtl'] {
  form {
    .field-multiple-table {
      .field-multiple-drag {
        padding-left: 0;

        .tabledrag-handle {
          padding-right: 0;
          padding-left: 0.5em;
        }
      }
    }
  }

  .form-type-radio {
    .description {
      margin-right: 2.4em;
      margin-left: 0;
    }
  }

  .form-type-checkbox {
    .description {
      margin-right: 2.4em;
      margin-left: 0;
    }
  }
}

.form-item {
  margin-top: 1em;
  margin-bottom: 1em;

  .description {
    font-size: 0.85em;
  }

  input {
    &.error {
      border: 2px solid #ff0000;
    }
  }

  textarea {
    &.error {
      border: 2px solid #ff0000;
    }
  }

  select {
    &.error {
      border: 2px solid #ff0000;
    }
  }
}

.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

tr {
  &.odd {
    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.even {
    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.form-composite {
  >.fieldset-wrapper {
    >.description {
      font-size: 0.85em;
    }
  }

  >legend {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
  }
}

label {
  &.option {
    display: inline;
    font-weight: normal;
  }
}

.label {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

.form-checkboxes {
  .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
}

.form-radios {
  margin-right: 4px;

  .form-item {
    margin: 0.4em 1.8em 0.4em 0;
  }
}

.form-type-radio {
  .description {
    margin-left: 2.4em;
  }
}

.form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}

.marker {
  color: #ee0000;
}

.form-required {
  &:after {
    display: inline-block;
    margin: 0 0.3em;
    background-image: url('../../images/icons/required.svg');
    background-repeat: no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    vertical-align: super;
    content: '';
  }
}

abbr {
  &.tabledrag-changed {
    border-bottom: 0;
  }

  &.ajax-changed {
    border-bottom: 0;
  }
}

.form-item--error-message {
  &:before {
    display: inline-block;
    background: url('../../images/icons/error.svg') no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    vertical-align: sub;
    content: '';
  }
}

.form-select {
  margin-right: 5px;
}
