
ul {
  &.inline {
    display: inline;
    padding-left: 0;

    li {
      display: inline;
      padding: 0 0.5em;
      list-style-type: none;
    }
  }

  &.links {
    &.inline {
      display: inline;
      padding-left: 0;
    }

    a {
      &.is-active {
        color: #000000;
      }
    }
  }
}

[dir='rtl'] {
  ul {
    &.inline {
      padding-right: 0;
      padding-left: 15px;
    }

    &.links {
      &.inline {
        padding-right: 0;
        padding-left: 15px;
      }
    }
  }
}
