ul {
  &.menu {
    margin-left: 1em;
    padding: 0;
    list-style: none outside;
    text-align: left;

    a {
      &.is-active {
        color: #000000;
      }
    }
  }
}

[dir='rtl'] {
  ul {
    &.menu {
      margin-right: 1em;
      margin-left: 0;
      text-align: right;
    }
  }

  .menu-item--collapsed {
    list-style-image: url('../../images/icons/menu-collapsed-rtl.png');
  }
}

.menu-item--expanded {
  list-style-image: url('../../images/icons/menu-expanded.png');
  list-style-type: circle;
}

.menu-item--collapsed {
  list-style-image: url('../../images/icons/menu-collapsed.png');
  list-style-type: disc;
}

.menu-item {
  margin: 0;
  padding-top: 0.2em;
}
