.messages {
  border: 1px solid;
  border-radius: 2px;
  background: no-repeat 10px 17px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;

  +.messages {
    margin-top: 1.538em;
  }
}

[dir='rtl'] {
  .messages {
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
    padding-right: 35px;
    padding-left: 20px;
    text-align: right;
  }

  .messages--status {
    margin-left: 0;
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    box-shadow: 8px 0 0 #77b259;
  }

  .messages--warning {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    box-shadow: 8px 0 0 #e09600;
  }

  .messages--error {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    box-shadow: 8px 0 0 #e62600;
  }
}

.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item {
  +.messages__item {
    margin-top: 0.769em;
  }
}

.messages--status {
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259;
  background-color: #f3faef;
  background-image: url('../../images/icons/check.svg');
  color: #325e1c;
}

.messages--warning {
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  box-shadow: -8px 0 0 #e09600;
  background-color: #fdf8ed;
  background-image: url('../../images/icons/warning.svg');
  color: #734c00;
}

.messages--error {
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
  background-color: #fcf4f2;
  background-image: url('../../images/icons/error.svg');
  color: #a51b00;

  p {
    &.error {
      color: #a51b00;
    }
  }
}
