.toolbar {
  * {
    font-size: 13px;
  }
}

.toolbar-menu-administration {
  .toolbar-menu {
    > .hover-intent {
      > .toolbar-menu {
        z-index: 1000;
      }
    }
  }
}

// Give dialog/modal higher z-index so doesn't hide below site banner
.toolbar-tray-open {
  .ui-dialog {
    z-index: 502;
  }
}
