* {
  font-family: "Oxygen", Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal; }

h1,
.h1 {
  line-height: 1.3rem;
  font-size: 2.281rem; }

h2,
.h2 {
  line-height: 1.3rem;
  font-size: 1.802rem; }

h3,
.h3 {
  line-height: 1.3rem;
  font-size: 1.602rem; }

h4,
.h4 {
  line-height: 1.3rem;
  font-size: 1.424rem; }

h5,
.h5 {
  line-height: 1.3rem;
  font-size: 1.266rem; }

h6,
.h6 {
  line-height: 1.3rem;
  font-size: 1.125rem; }

p,
li,
label.option,
.label.option,
.fieldset-legend.option,
.base {
  line-height: 1.5rem;
  font-size: 16px; }

label,
.label,
.fieldset-legend,
.small {
  line-height: 1.5rem;
  font-size: 0.889rem; }


.xsmall {
  line-height: 1.5rem;
  font-size: 0.79rem; }


.annotation,
.description {
  line-height: 1.5rem;
  font-size: 0.702rem; }

/* Colors */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #222330; }

p,
li {
  color: #545560; }

a {
  text-decoration: none;
  color: #0072c5; }
  a:hover, a:focus {
    text-decoration: underline; }

dt {
  font-family: "Oxygen", Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 12px;
  line-height: 1.3em;
  font-size: 1.424em; }
  dt a {
    font-family: "Oxygen", Arial, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #0072c5; }
    dt a:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-style: normal;
      display: inline-block;
      margin-left: 10px;
      font-size: 20px;
      content: '\f054'; }
    dt a:hover, dt a:focus {
      text-decoration: underline; }
      dt a:hover:after, dt a:focus:after {
        text-decoration: none; }

ol li {
  margin-bottom: 6px; }

dd {
  margin-bottom: 12px;
  margin-left: 0;
  border-bottom: 1px solid #d7d7df;
  padding-bottom: 24px;
  line-height: 1.5em;
  font-size: 1em; }

.fa,
.fas,
.far,
.fal,
.fab {
  font-family: 'Font Awesome 5 Free'; }

label,
.label,
.fieldset-legend {
  font-family: "Oxygen", Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  margin-bottom: 6px; }
  label.option,
  .label.option,
  .fieldset-legend.option {
    display: inline-block;
    font-weight: 400; }

td label {
  margin-bottom: 0; }

.form_textfield,
textarea,
.form-textarea, input[type='text'], input[type='date'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='url'],
.input--text, select,
.input--select,
.input {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #8e929c;
  background-color: #ffffff;
  cursor: auto;
  padding: 16px;
  width: 100%;
  color: #222330;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .form_textfield:focus,
  textarea:focus,
  .form-textarea:focus, input:focus[type='text'], input:focus[type='date'], input:focus[type='email'], input:focus[type='number'], input:focus[type='search'], input:focus[type='tel'], input:focus[type='url'],
  .input--text:focus, select:focus,
  .input--select:focus,
  .input:focus {
    outline: none;
    border-style: solid;
    border-color: #0072c5;
    -webkit-box-shadow: 0 0 0 2px #0072c5;
            box-shadow: 0 0 0 2px #0072c5; }

.form_textfield::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .form-textarea::-webkit-input-placeholder, input[type='text']::-webkit-input-placeholder, input[type='date']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder, .input--text::-webkit-input-placeholder {
  color: #545560; }

.form_textfield::-moz-placeholder, textarea::-moz-placeholder, .form-textarea::-moz-placeholder, input[type='text']::-moz-placeholder, input[type='date']::-moz-placeholder, input[type='email']::-moz-placeholder, input[type='number']::-moz-placeholder, input[type='search']::-moz-placeholder, input[type='tel']::-moz-placeholder, input[type='url']::-moz-placeholder, .input--text::-moz-placeholder {
  color: #545560; }

.form_textfield:-ms-input-placeholder, textarea:-ms-input-placeholder, .form-textarea:-ms-input-placeholder, input[type='text']:-ms-input-placeholder, input[type='date']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='search']:-ms-input-placeholder, input[type='tel']:-ms-input-placeholder, input[type='url']:-ms-input-placeholder, .input--text:-ms-input-placeholder {
  color: #545560; }

.form_textfield::-ms-input-placeholder, textarea::-ms-input-placeholder, .form-textarea::-ms-input-placeholder, input[type='text']::-ms-input-placeholder, input[type='date']::-ms-input-placeholder, input[type='email']::-ms-input-placeholder, input[type='number']::-ms-input-placeholder, input[type='search']::-ms-input-placeholder, input[type='tel']::-ms-input-placeholder, input[type='url']::-ms-input-placeholder, .input--text::-ms-input-placeholder {
  color: #545560; }

.form_textfield::placeholder,
textarea::placeholder,
.form-textarea::placeholder, input[type='text']::placeholder, input[type='date']::placeholder, input[type='email']::placeholder, input[type='number']::placeholder, input[type='search']::placeholder, input[type='tel']::placeholder, input[type='url']::placeholder,
.input--text::placeholder {
  color: #545560; }

select,
.input--select {
  padding-right: 24px; }

input[type='radio'], input[type='checkbox'] {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  -o-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  margin-right: 4px;
  -webkit-box-shadow: 0 0 0 1px #8e929c;
          box-shadow: 0 0 0 1px #8e929c;
  background-color: #ffffff;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  input[type='radio']:focus, input[type='checkbox']:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #727780, 0 0 0 6px #e3e3ea;
            box-shadow: 0 0 0 1px #727780, 0 0 0 6px #e3e3ea; }
  input[type='radio']:checked, input[type='checkbox']:checked {
    border-color: #ffffff;
    -webkit-box-shadow: 0 0 0 2px #0072c5;
            box-shadow: 0 0 0 2px #0072c5;
    background-color: #0072c5; }
    input[type='radio']:checked:after, input[type='checkbox']:checked:after {
      display: block;
      position: absolute;
      content: ''; }

input[type='radio'] {
  border-radius: 50%; }

input[type='checkbox'] {
  border-radius: 2px; }
  input[type='checkbox']:checked:after {
    top: 0;
    left: 4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    width: 6px;
    height: 11px; }

input[type='date'], input[type='time'] {
  margin-bottom: 6px;
  padding: 6px; }

select {
  background: url("/themes/contrib/lark/images/icon-arrow-down.svg") #ffffff right 12px bottom 11px no-repeat;
  background-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.form-actions {
  padding: 0.25em 0; }

.node-form .form-actions .button,
.node-confirm-form .form-actions .button {
  margin-right: 10px; }

.views-exposed-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(216, 217, 224, 0.8);
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem; }
  .views-exposed-form .js-form-item,
  .views-exposed-form .form-actions {
    margin: 0 0.75rem 1rem 0; }

.entity-view-display-form .form-wrapper {
  margin-top: 32px; }

/*# sourceMappingURL=forms.css.map */
