* {
  @include font(sans);
}

h1,
.h1 {
  line-height: 1.3rem;
  font-size: 2.281rem;
}

h2,
.h2 {
  line-height: 1.3rem;
  font-size: 1.802rem;
}

h3,
.h3 {
  line-height: 1.3rem;
  font-size: 1.602rem;
}

h4,
.h4 {
  line-height: 1.3rem;
  font-size: 1.424rem;
}

h5,
.h5 {
  line-height: 1.3rem;
  font-size: 1.266rem;
}

h6,
.h6 {
  line-height: 1.3rem;
  font-size: 1.125rem;
}

p,
li,
%base,
.base {
  line-height: 1.5rem;
  font-size: 16px;
}

%small,
.small {
  line-height: 1.5rem;
  font-size: 0.889rem;
}

%xsmall,
.xsmall {
  line-height: 1.5rem;
  font-size: 0.79rem;
}

%annotation,
.annotation,
.description {
  line-height: 1.5rem;
  font-size: 0.702rem;
}

/* Colors */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $headers;
}

p,
li {
  color: $text;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

}

dt {
  @include font(sans, bold);
  margin-top: 16px;
  margin-bottom: 12px;
  line-height: 1.3em;
  font-size: 1.424em;

  a {
    @include font(sans, bold);
    text-decoration: none;
    color: $primary;

    &:after {
      @include font(icon, solid);
      display: inline-block;
      margin-left: 10px;
      font-size: 20px;
      content: '\f054';
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      &:after {
        text-decoration: none;
      }

    }

  }

}

ol {

  li {
    margin-bottom: $spacing-small;
  }

}

dd {
  margin-bottom: 12px;
  margin-left: 0;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 24px;
  line-height: 1.5em;
  font-size: 1em;
}

// Icon fonts
.fa,
.fas,
.far,
.fal,
.fab {
  font-family: 'Font Awesome 5 Free';
}
