<div class="l-page">
  <div class="l-banner">
    {{ page.banner }}
  </div>
  <div class="l-sidebar">
    {{ page.sidebar }}
  </div>
  <div class="l-content">
    {{ page.content }}
  </div>
</div>
