<div class="l-page">
  <div class="l-banner">
    {{ page.banner }}
  </div>
  <div class="grid--full">
    <div class="col l-sidebar">
      {{ page.sidebar }}
    </div>
    <div class="col l-content">
      {{ page.content }}
    </div>
  </div>
</div>
